<div class="container">
  <h1>Bravo</h1>


  {{#if session.user}}
    Logged in as {{session.user.name}}
    <button {{action 'logOut'}}>Log out</button>
    You have {{session.user.message_count}} messages in your inbox
    {{outlet}}
  {{else}}
    <a href="/auth/google_oauth2">Log in with Google</a>
  {{/if}}

</div>