{{#if progressType}}
  <div class="alert alert-info">
    <h4>
      {{progressType}}
      {{#if progressComplete}}
        - Complete!
      {{/if}}
    </h4>
    <p>
      <div class="progress">
        <div class="progress-bar" {{bind-attr style=progressStyle}}>
          {{progressPercentage}}%
        </div>
      </div>
    </p>
    {{#if progressQuery}}
      <strong>Query:</strong> {{progressQuery}}
    {{/if}}
  </div>
{{/if}}

<h2>Messages</h2>


<button {{action 'sync'}}>Sync</button>

<div class="row">
  <div class="col-md-4">
    <h3>By from</h3>
    <dl>
      {{#each topMessagesByFrom}}
          <dt>{{key}}</dt>
          <dd>{{value}} <button {{action 'showMessagesFrom' key}}>Show</button></dd>
      {{/each}}
    </dl>
  </div>

  <div class="col-md-8">
    <div class="table-container">
      {{table-component
        hasFooter=false
        columns=columns
        content=tableMessages
      }}
    </div>
    <button {{action 'archiveAll'}}>Archive All</button>
  </div>
</div>

